{
  "useTabs": false,
  "tabWidth": 2,
  "singleQuote": false,
  "trailingComma": "all",
  "endOfLine": "lf",
  "printWidth": 90,
  "semi": true,
  "quoteProps": "consistent",
  "bracketSameLine": false,
  "arrowParens": "always",
  "bracketSpacing": true,
  "plugins": ["prettier-plugin-tailwindcss"]
}
