{
    "useTabs": false,
    "tabWidth": 4,
    "singleQuote": false,
    "trailingComma": "all",
    "printWidth": 80,
    "semi": true,
    "quoteProps": "consistent",
    "bracketSameLine": false,
    "arrowParens": "always",
    "bracketSpacing": true,
    "plugins": ["prettier-plugin-tailwindcss"]
}
