body {
    height: 100%;
    overflow: hidden;
}

#ibps-ide {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}

@media print {
    body {
        visibility: hidden;
    }
    #ibpseditor,
    #ibpsdocs {
        visibility: visible;
        position: absolute;
        left: 0;
        top: 0;
    }
}

.ace_gutter {
    @apply bg-stone-50 dark:bg-onedark-950 !important;
}

.ace_gutter-active-line {
    @apply bg-stone-200 dark:bg-onedark-900 !important;
}

.ace_marker-layer .ace_active-line {
    @apply bg-stone-100 dark:bg-onedark-800 !important;
}

.ace_marker-layer .ace_selection {
    @apply bg-stone-300 dark:bg-onedark-600 !important;
}

#IBPSOutput.ace_editor {
    background: transparent !important;
}

#IBPSOutput .ace_active-line {
    @apply bg-transparent !important;
}

body {
    @apply bg-stone-100 dark:bg-onedark-900 text-black dark:text-white select-none;
}

@media (prefers-color-scheme: dark) {
    body {
        color-scheme: dark;
    }

    body::-webkit-scrollbar-track {
        background: #1c1f24;
    }

    body::-webkit-scrollbar-thumb {
        background-color: #282c34;
    }
}

.docscode {
    @apply font-mono;
}

