.markdown {
    @apply text-base;
}

.markdown p {
    @apply py-2;
}

.markdown h1,
.markdown .h1 {
    @apply text-2xl font-bold pt-8;
}

.markdown h2 {
    @apply text-2xl font-bold;
}

.markdown h3 {
    @apply text-xl font-bold;
}

.markdown h4 {
    @apply text-lg font-medium;
}

.markdown h5 {
    @apply text-base font-medium;
}

.markdown h6 {
    @apply text-base font-medium;
}

.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
    margin-left: 8px;
}

.markdown mark {
    @apply bg-yellow-300 text-yellow-900 px-1 rounded-sm;
}

.markdown ul {
    list-style-type: circle;
}

.markdown ol.d {
    list-style-type: arabic-indic;
}

.markdown table {
    text-align: left;
    border-collapse: collapse;
    width: 100%;
    @apply rounded-md;
}

.markdown table,
.markdown tr,
.markdown td,
.markdown th {
    @apply border border-gray-300 rounded-md;
}

.markdown tr:nth-child(2n) {
    background: #f5f5f5;
}

.markdown td,
.markdown th {
    padding: 0.33rem 0.5rem;
}

.markdown blockquote {
    @apply border-l-4 border-gray-400 pl-4 my-3 bg-gray-100 rounded-sm text-gray-600;
}

.markdown blockquote p {
    @apply my-0;
}

.markdown li {
    @apply ml-4;
}

.markdown a {
    @apply underline leading-snug pt-1 underline-offset-4;
}

.react-syntax-highlighter-line-number {
    font-style: inherit !important;
    width: 3em !important;
}

