:root,
.theme-dark-root,
.theme-dark-titanium {
  --theme-dark-50: 0 0% 98.4%;
  --theme-dark-100: 0 0% 92.2%;
  --theme-dark-200: 0 0% 78.8%;
  --theme-dark-300: 0 0% 65.9%;
  --theme-dark-400: 0 0% 52.9%;
  --theme-dark-500: 0 0% 40%;
  --theme-dark-600: 0 0% 34.1%;
  --theme-dark-700: 0 0% 27.8%;
  --theme-dark-800: 0 0% 22%;
  --theme-dark-900: 0 0% 16.1%;
  --theme-dark-950: 0 0% 12.9%;
  --theme-dark-1000: 0 0% 9%;
  --theme-dark-1100: 0 0% 7.1%;
  --theme-dark-accent: 217 91% 60%;
}

.theme-dark-onedark {
  --theme-dark-50: 220 12.7% 86.1%;
  --theme-dark-100: 220 13% 82%;
  --theme-dark-200: 219 12.8% 73.9%;
  --theme-dark-300: 219 13.3% 66.1%;
  --theme-dark-400: 221 13.1% 58%;
  --theme-dark-500: 220 12.9% 50%;
  --theme-dark-600: 219 13.1% 42%;
  --theme-dark-700: 219 13.3% 33.9%;
  --theme-dark-800: 219 12.8% 26.1%;
  --theme-dark-900: 220 13% 18%;
  --theme-dark-950: 218 12.5% 12.5%;
  --theme-dark-1000: 210 13% 9%;
  --theme-dark-1100: 210 16% 5%;
  --theme-dark-accent: 217 91% 60%;
}

.theme-dark-rosepine {
  --theme-dark-50: 249 23% 86.1%;
  --theme-dark-100: 249 23% 82%;
  --theme-dark-200: 249 23% 73.9%;
  --theme-dark-300: 249 23% 66.1%;
  --theme-dark-400: 249 23% 58%;
  --theme-dark-500: 249 23% 50%;
  --theme-dark-600: 249 23% 42%;
  --theme-dark-700: 249 23% 33.9%;
  --theme-dark-800: 249 23% 26.1%;
  --theme-dark-900: 249 23% 18%;
  --theme-dark-950: 249 23% 12.5%;
  --theme-dark-1000: 249 23% 9%;
  --theme-dark-1100: 249 23% 5%;
  --theme-dark-accent: 197 49% 38%;
}

.theme-dark-cobalt {
  --theme-dark-50: 212 48% 86.1%;
  --theme-dark-100: 212 48% 82%;
  --theme-dark-200: 212 48% 73.9%;
  --theme-dark-300: 212 48% 66.1%;
  --theme-dark-400: 212 48% 58%;
  --theme-dark-500: 212 48% 50%;
  --theme-dark-600: 212 48% 42%;
  --theme-dark-700: 212 48% 33.9%;
  --theme-dark-800: 212 48% 26.1%;
  --theme-dark-900: 212 48% 18%;
  --theme-dark-950: 212 48% 12.5%;
  --theme-dark-1000: 212 48% 9%;
  --theme-dark-1100: 212 48% 5%;
  --theme-dark-accent: 212 90% 45%;
}

.theme-dark-earth {
  --theme-dark-50: 25 10% 86.1%;
  --theme-dark-100: 25 10% 82%;
  --theme-dark-200: 25 10% 73.9%;
  --theme-dark-300: 25 10% 66.1%;
  --theme-dark-400: 25 10% 58%;
  --theme-dark-500: 25 10% 50%;
  --theme-dark-600: 25 10% 42%;
  --theme-dark-700: 25 10% 33.9%;
  --theme-dark-800: 25 10% 26.1%;
  --theme-dark-900: 25 10% 18%;
  --theme-dark-950: 25 10% 12.5%;
  --theme-dark-1000: 25 10% 9%;
  --theme-dark-1100: 25 10% 5%;
  --theme-dark-accent: 27 60% 50%;
}

.theme-dark-monokai {
  --theme-dark-50: 50 7% 84.1%;
  --theme-dark-100: 50 7% 80%;
  --theme-dark-200: 50 7% 71.9%;
  --theme-dark-300: 50 7% 64.1%;
  --theme-dark-400: 50 7% 56%;
  --theme-dark-500: 50 7% 48%;
  --theme-dark-600: 50 7% 40.1%;
  --theme-dark-700: 50 7% 31.9%;
  --theme-dark-800: 50 7% 24.1%;
  --theme-dark-900: 50 7% 16%;
  --theme-dark-950: 50 7% 10.5%;
  --theme-dark-1000: 50 7% 7%;
  --theme-dark-1100: 50 7% 3%;
  --theme-dark-accent: 140 30% 30%;
}

.theme-dark-githubdefault {
  --theme-dark-50: 213 22% 83%;
  --theme-dark-100: 213 22% 78.9%;
  --theme-dark-200: 213 22% 70.8%;
  --theme-dark-300: 213 22% 63%;
  --theme-dark-400: 213 22% 54.9%;
  --theme-dark-500: 213 22% 46.9%;
  --theme-dark-600: 213 22% 39%;
  --theme-dark-700: 213 22% 30.8%;
  --theme-dark-800: 213 22% 23%;
  --theme-dark-900: 213 22% 14.9%;
  --theme-dark-950: 213 22% 9.4%;
  --theme-dark-1000: 213 22% 5.9%;
  --theme-dark-1100: 213 22% 3%;
  --theme-dark-accent: 213 91% 60%;
}

.theme-dark-githubdimmed {
  --theme-dark-50: 215 18% 89.9%;
  --theme-dark-100: 215 18% 85.8%;
  --theme-dark-200: 215 18% 77.7%;
  --theme-dark-300: 215 18% 69.9%;
  --theme-dark-400: 215 18% 61.8%;
  --theme-dark-500: 215 18% 53.8%;
  --theme-dark-600: 215 18% 45.9%;
  --theme-dark-700: 215 18% 37.7%;
  --theme-dark-800: 215 18% 29.9%;
  --theme-dark-900: 215 18% 21.8%;
  --theme-dark-950: 215 18% 16.3%;
  --theme-dark-1000: 215 18% 12.8%;
  --theme-dark-1100: 215 18% 9.8%;
  --theme-dark-accent: 215 91% 60%;
}

.theme-dark-nord {
  --theme-dark-50: 220 12.7% 88.8%;
  --theme-dark-100: 220 13% 84.7%;
  --theme-dark-200: 220 12.8% 76.6%;
  --theme-dark-300: 220 13.3% 68.8%;
  --theme-dark-400: 220 13.1% 60.7%;
  --theme-dark-500: 220 12.9% 52.7%;
  --theme-dark-600: 220 13.1% 44.7%;
  --theme-dark-700: 220 13.3% 36.6%;
  --theme-dark-800: 220 12.8% 28.8%;
  --theme-dark-900: 220 13% 20.7%;
  --theme-dark-950: 220 12.5% 15.2%;
  --theme-dark-1000: 220 13% 11.7%;
  --theme-dark-1100: 220 16% 7.7%;
  --theme-dark-accent: 217 91% 60%;
}
