:root,
.theme-light-root,
.theme-light-silver {
  --theme-light-whitish: 0 0% 100%;
  --theme-light-50: 0 0% 98%;
  --theme-light-100: 0 0% 95.1%;
  --theme-light-200: 0 0% 87.8%;
  --theme-light-300: 0 0% 81.1%;
  --theme-light-400: 0 0% 61.9%;
  --theme-light-500: 0 0% 43.1%;
  --theme-light-600: 0 0% 30.2%;
  --theme-light-700: 0 0% 23.1%;
  --theme-light-800: 0 0% 12.9%;
  --theme-light-900: 0 0% 7%;
  --theme-light-950: 0 0% 1.9%;
  --theme-light-1000: 0 0% 0%;
  --theme-light-1100: 0 0% 0%;
  --theme-light-accent: 217 91% 60%;
}

.theme-light-icy {
  --theme-light-50: 215 40% 97%;
  --theme-light-100: 215 40% 96.1%;
  --theme-light-200: 215 40% 89.8%;
  --theme-light-300: 215 40% 83.1%;
  --theme-light-400: 215 40% 63.9%;
  --theme-light-500: 215 40% 45.1%;
  --theme-light-600: 215 40% 32.2%;
  --theme-light-700: 215 40% 25.1%;
  --theme-light-800: 215 40% 14.9%;
  --theme-light-900: 215 40% 9%;
  --theme-light-950: 215 40% 3.9%;
  --theme-light-1000: 215 40% 0%;
  --theme-light-1100: 215 40% 0%;
  --theme-light-accent: 215 50% 55%;
}

.theme-light-lake {
  --theme-light-whitish: 215 100% 98%;
  --theme-light-50: 215 60% 94%;
  --theme-light-100: 215 60% 93.1%;
  --theme-light-200: 215 60% 86.8%;
  --theme-light-300: 215 60% 80.1%;
  --theme-light-400: 215 60% 60.9%;
  --theme-light-500: 215 60% 42.1%;
  --theme-light-600: 215 60% 29.2%;
  --theme-light-700: 215 60% 22.1%;
  --theme-light-800: 215 60% 11.9%;
  --theme-light-900: 215 60% 6%;
  --theme-light-950: 215 60% 0.9%;
  --theme-light-1000: 215 60% 0%;
  --theme-light-1100: 215 60% 0%;
  --theme-light-accent: 215 50% 55%;
}

.theme-light-solarized {
  --theme-light-50: 46 40% 97%;
  --theme-light-100: 46 40% 96.1%;
  --theme-light-200: 46 40% 89.8%;
  --theme-light-300: 46 40% 83.1%;
  --theme-light-400: 46 40% 63.9%;
  --theme-light-500: 46 40% 45.1%;
  --theme-light-600: 46 40% 32.2%;
  --theme-light-700: 46 40% 25.1%;
  --theme-light-800: 46 40% 14.9%;
  --theme-light-900: 46 40% 9%;
  --theme-light-950: 46 40% 3.9%;
  --theme-light-1000: 46 40% 0%;
  --theme-light-1100: 46 40% 0%;
  --theme-light-accent: 193 72% 26%;
}

.theme-light-ruby {
  --theme-light-50: 350 25% 97%;
  --theme-light-100: 350 25% 96.1%;
  --theme-light-200: 350 25% 89.8%;
  --theme-light-300: 350 25% 83.1%;
  --theme-light-400: 350 25% 63.9%;
  --theme-light-500: 350 25% 45.1%;
  --theme-light-600: 350 25% 32.2%;
  --theme-light-700: 350 25% 25.1%;
  --theme-light-800: 350 25% 14.9%;
  --theme-light-900: 350 25% 9%;
  --theme-light-950: 350 25% 3.9%;
  --theme-light-1000: 350 25% 0%;
  --theme-light-1100: 350 25% 0%;
  --theme-light-accent: 350 40% 55%;
}
