:root,
.theme-light-root,
.theme-light-silver {
  --theme-light-whitish: 0 0% 100%;
  --theme-light-50: 0 0% 98%;
  --theme-light-100: 0 0% 95.1%;
  --theme-light-200: 0 0% 87.8%;
  --theme-light-300: 0 0% 81.1%;
  --theme-light-400: 0 0% 61.9%;
  --theme-light-500: 0 0% 43.1%;
  --theme-light-600: 0 0% 30.2%;
  --theme-light-700: 0 0% 23.1%;
  --theme-light-800: 0 0% 12.9%;
  --theme-light-900: 0 0% 7%;
  --theme-light-950: 0 0% 1.9%;
  --theme-light-1000: 0 0% 0%;
  --theme-light-1100: 0 0% 0%;
  --theme-light-accent: 217 91% 60%;
}

.theme-light-icy {
  --theme-light-50: 215 40% 98%;
  --theme-light-100: 215 40% 96.1%;
  --theme-light-200: 215 40% 89.8%;
  --theme-light-300: 215 40% 83.1%;
  --theme-light-400: 215 40% 63.9%;
  --theme-light-500: 215 40% 45.1%;
  --theme-light-600: 215 40% 32.2%;
  --theme-light-700: 215 40% 25.1%;
  --theme-light-800: 215 40% 14.9%;
  --theme-light-900: 215 40% 9%;
  --theme-light-950: 215 40% 3.9%;
  --theme-light-1000: 215 40% 0%;
  --theme-light-1100: 215 40% 0%;
  --theme-light-accent: 215 50% 55%;
}

.theme-light-lake {
  --theme-light-whitish: 215 80% 97%;
  --theme-light-50: 215 67% 94%;
  --theme-light-100: 215 67% 93.1%;
  --theme-light-200: 215 67% 86.8%;
  --theme-light-300: 215 67% 80.1%;
  --theme-light-400: 215 67% 60.9%;
  --theme-light-500: 215 67% 42.1%;
  --theme-light-600: 215 67% 29.2%;
  --theme-light-700: 215 67% 22.1%;
  --theme-light-800: 215 67% 11.9%;
  --theme-light-900: 215 67% 6%;
  --theme-light-950: 215 67% 0.9%;
  --theme-light-1000: 215 67% 0%;
  --theme-light-1100: 215 67% 0%;
  --theme-light-accent: 215 50% 55%;
}

.theme-light-monochrome {
  --theme-light-50: 0 0% 94%;
  --theme-light-100: 0 0% 90.1%;
  --theme-light-200: 0 0% 82.8%;
  --theme-light-300: 0 0% 76.1%;
  --theme-light-400: 0 0% 56.9%;
  --theme-light-500: 0 0% 38.1%;
  --theme-light-600: 0 0% 25.2%;
  --theme-light-700: 0 0% 18.1%;
  --theme-light-800: 0 0% 7.9%;
  --theme-light-900: 0 0% 2%;
  --theme-light-950: 0 0% 0.9%;
  --theme-light-1000: 0 0% 0%;
  --theme-light-1100: 0 0% 0%;
  --theme-light-accent: 0 0% 20%;
}

.theme-light-solarized {
  --theme-light-whitish: 46 40% 94%;
  --theme-light-50: 46 40% 92%;
  --theme-light-100: 46 40% 90.1%;
  --theme-light-200: 46 40% 84.8%;
  --theme-light-300: 46 40% 78.1%;
  --theme-light-400: 46 40% 58.9%;
  --theme-light-500: 46 40% 40.1%;
  --theme-light-600: 46 40% 27.2%;
  --theme-light-700: 46 40% 20.1%;
  --theme-light-800: 46 40% 9.9%;
  --theme-light-900: 46 40% 4%;
  --theme-light-950: 46 40% 0.9%;
  --theme-light-1000: 46 40% 0%;
  --theme-light-1100: 46 40% 0%;
  --theme-light-accent: 193 72% 26%;
}

.theme-light-ruby {
  --theme-light-whitish: 350 25% 97%;
  --theme-light-50: 350 27% 96%;
  --theme-light-100: 350 27% 93.1%;
  --theme-light-200: 350 27% 87.8%;
  --theme-light-300: 350 27% 81.1%;
  --theme-light-400: 350 27% 61.9%;
  --theme-light-500: 350 27% 43.1%;
  --theme-light-600: 350 27% 30.2%;
  --theme-light-700: 350 27% 23.1%;
  --theme-light-800: 350 27% 12.9%;
  --theme-light-900: 350 27% 7%;
  --theme-light-950: 350 27% 1.9%;
  --theme-light-1000: 350 27% 0%;
  --theme-light-1100: 350 27% 0%;
  --theme-light-accent: 350 40% 55%;
}

.theme-light-lavender {
  --theme-light-whitish: 270 40% 97%;
  --theme-light-50: 220 30% 94%;
  --theme-light-100: 220 30% 90.1%;
  --theme-light-200: 240 30% 85%;
  --theme-light-300: 250 30% 78.3%;
  --theme-light-400: 260 30% 58.5%;
  --theme-light-500: 270 30% 40%;
  --theme-light-600: 280 30% 27.1%;
  --theme-light-700: 290 30% 20%;
  --theme-light-800: 300 30% 10%;
  --theme-light-900: 300 30% 5%;
  --theme-light-950: 310 30% 0.9%;
  --theme-light-1000: 330 30% 0%;
  --theme-light-1100: 340 30% 0%;
  --theme-light-accent: 220 17.8% 39.6%;
}

.theme-light-sage {
  --theme-light-whitish: 112 15% 97%;
  --theme-light-50: 112 15% 94%;
  --theme-light-100: 112 15% 90.1%;
  --theme-light-200: 112 15% 85%;
  --theme-light-300: 112 15% 78.3%;
  --theme-light-400: 112 15% 58.5%;
  --theme-light-500: 112 15% 40%;
  --theme-light-600: 112 15% 27.1%;
  --theme-light-700: 112 15% 20%;
  --theme-light-800: 112 15% 10%;
  --theme-light-900: 112 15% 5%;
  --theme-light-950: 112 15% 0.9%;
  --theme-light-1000: 112 15% 0%;
  --theme-light-1100: 112 15% 0%;
  --theme-light-accent: 125 20% 30%;
}

.theme-light-desert {
  --theme-light-whitish: 25 20% 93%;
  --theme-light-50: 25 20% 89%;
  --theme-light-100: 25 20% 85.1%;
  --theme-light-200: 25 20% 80%;
  --theme-light-300: 25 20% 73.3%;
  --theme-light-400: 25 20% 54.5%;
  --theme-light-500: 25 20% 36%;
  --theme-light-600: 25 20% 23.1%;
  --theme-light-700: 25 20% 16%;
  --theme-light-800: 25 20% 6.9%;
  --theme-light-900: 25 20% 2.5%;
  --theme-light-950: 25 20% 0.4%;
  --theme-light-1000: 25 20% 0%;
  --theme-light-1100: 25 20% 0%;
  --theme-light-accent: 25 20% 30%;
}

.theme-light-iplastic {
  --theme-light-whitish: 0 0% 90%;
  --theme-light-50: 0 0% 85%;
  --theme-light-100: 0 0% 80.1%;
  --theme-light-200: 0 0% 73.8%;
  --theme-light-300: 0 0% 67.1%;
  --theme-light-400: 0 0% 47.9%;
  --theme-light-500: 0 0% 29.1%;
  --theme-light-600: 0 0% 16.2%;
  --theme-light-700: 0 0% 9.1%;
  --theme-light-800: 0 0% 0.9%;
  --theme-light-900: 0 0% 0.1%;
  --theme-light-950: 0 0% 0%;
  --theme-light-1000: 0 0% 0%;
  --theme-light-1100: 0 0% 0%;
  --theme-light-accent: 0 0% 35%;
}
